<div class="tabs-wrapper">
  <div class="tabs shadow">
    <button [class.active]="activeTab === 'new'" (click)="setTab('new')">🆕 Nowy żart</button>
    <button [class.active]="activeTab === 'liked'" (click)="setTab('liked')">❤️ Polubione</button>
    <button [class.active]="activeTab === 'unliked'" (click)="setTab('unliked')">🎲 Losowy niepolubiony</button>
    <button class="logout-btn" (click)="auth.logout()">🚪 Wyloguj</button>
  </div>

  <div class="jokes-container">
    <div *ngIf="activeTab === 'new' && newJoke">
      <app-joke-card [joke]="newJoke" (click)="onLike(newJoke)"></app-joke-card>
    </div>

    <div *ngIf="activeTab === 'liked'" class="liked-grid">
      <app-joke-card *ngFor="let joke of likedJokes" [joke]="joke" class="joke-card-animated"></app-joke-card>
    </div>
    

    <div *ngIf="activeTab === 'unliked' && unlikedJoke">
      <app-joke-card [joke]="unlikedJoke" (click)="onLike(unlikedJoke)"></app-joke-card>
    </div>
  </div>
</div>
