.preview-wrapper {
    min-height: 100vh;
    background: linear-gradient(to right, #3a6186, #89253e);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .card-wrapper {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  }
  